body {
  font-family: sans-serif;
}
#app{
  display: flex;
  flex-direction: row;
}
#nav{
  background-color: aliceblue;
  flex:1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#nav button{
  padding: 5px;
  margin: 5px;
}
#source{
  background-color: aquamarine;
  flex:2;
}
#output{
  background-color: bisque;
  flex:2
}
@media (max-width: 400px) {
  #app {
    flex-direction: column;
  }
}
.subtitle{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}